.text{
  font-size: 28px;
  margin-top: 195px;
  margin-left: 368px;
  color: #47525E;
  line-height: 0px;
}

iframe{
  position: relative;
  /* margin: 299px 146.21px 136px 242px; */
  margin-top: 70px;
  margin-left: 242px;
  width: 1051.79px;
  height: 589px;
}

